.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 15px;
}

.Card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.Card:hover {
  transform: scale(1.05);
}

.project_image {
  height: 200px;
  object-fit: cover;
}

.CardBody {
  padding: 20px;
}

.CardTitle {
  font-size: 20px;
  color: #f47d20; /* Cyan */
}

.CardText {
  color: #555;
  margin-bottom: 10px;
}

.ButtonDiv {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Card-Button {
  background-color: #FFA500; /* Orange */
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.Card-Button:hover {
  background-color: #e59400; /* Darker orange */
}
