/* side_bar.css */

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 80px; /* Adjust for header height */
  left: 0;
  background-color: #003366; /* Dark Blue */
  padding-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Ensure it's below the header */
}

.sidenav a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.sidenav a:hover {
  background-color: #ff6600; /* Orange */
  color: white;
}
